body {
	margin: 0;
	color: $font-color;
	font-family: $general-font;
	font-size: 1.1rem;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

// Typefaces and text

h1,
h2,
h3 {
	font-weight: 600;
	color: $main;
	font-family: $heading-font;
	line-height: 1.5em;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}

a {
	color: $main;
	text-decoration: none
}

a:hover {
	text-decoration: none;
	color: $link-hover-color;
}


// General
.container {
	max-width: $content-width;
	margin: 0 auto;
}

main {
	padding: 0 15px;
	max-width: $content-width;
	margin: 60px auto;
}




footer {
	text-align: center;
	padding: 40px;
}


/* Header Navigation */

aside {
	position: fixed;
	top: 0;
	left: 0;
	background: $white;
	width: 100%;
	z-index: 2;
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				display: block;
				font-size: 1rem;
				a {
					display: inline-block;
					padding: 0.5em;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					font-family: $link-font,
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

.logo {
	height: 2rem;
	width: 6rem;
	padding: 0px;
}

#nav-a {
	padding-top: 0.75rem;
	font-family: $general-font;
}

// General content
header {
	background-color: green;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

// Post dsiplay
time {
	color: $main;
	font-size: 0.875rem;
	font-family: $general-font;

}

.post-title {
	margin-bottom: 0;
}
